.logo{
    font-family: 'Itim', cursive;
    font-size: 40px;
}
.column {
    float: left;
    width: 40%;
    margin-top: 40px;
    margin-left: 100px;
}

.row::after {
    content: "";
    display: table;
    clear:both;
}

footer{
    margin-top: 200px;
}

img{
    border-radius: 16px;
}

.links{
    text-align: center;
}

ul {

}

ul li {
   list-style: none;
   display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 0 170px;
}

h1{
    display: flex;
    text-align: center;
    justify-content: center;
}

